.catalogContainer {
  padding-bottom: 6rem;
  max-width: 1024px;
  margin: 0 auto;
}

.catalogGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  margin: 1rem auto;
}

.mancheta {
  margin: 1rem;
}

@media (min-width: 768px) {
  .catalogGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
