.mancheta {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.red {
  background-color: var(--color-red)
}

.yellow {
  background-color: var(--color-yellow)
}

.blue {
  background-color: var(--color-blue)
}