.mancheta {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px dashed var(--color-accent);
}

.red {
  background-color: var(--color-red)
}

.yellow {
  background-color: var(--color-yellow)
}

.blue {
  background-color: var(--color-blue)
}