.button {
  text-align: center;
  background-color: var(--color-dark);
  padding: 0.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  color: var(--color-light);
}

.buttonInvert {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  color: var(--color-dark);
  display: block;
}
