.input {
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.375rem;
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  font-weight: bold;
}

input::placeholder {
  color: var(--color-primary);
  opacity: 0.5;
}