.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.cardContainer {
  position: relative;
  margin: 1.5rem;
  width: 400px;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
}

.cardDetailContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardDetail {
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
  border: 2px dashed var(--color-white);
  text-transform: uppercase;
}

.cardImage {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  display: block;
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 300px;
  }
}
